@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="page container-fluid">
        <div class="main">

            <div class="content px-4 container-fluid">
                @Body
            </div>
        </div>
    </div>
</div>
